<div class="container">
  <form (ngSubmit)="submitRegistroForm()" [formGroup]="registerForm">
    <h3>Registro</h3>

    <label for="nombre">Nombre</label><br />
    <input
      type="text"
      id="nombre"
      name="nombre"
      value=""
      formControlName="nombre"
    />

    @if(registerForm.get('nombre')?.errors && registerForm.get('nombre')?.dirty) { 
        @if (registerForm.get('nombre')?.hasError('required')) {
            <div class="error">Requerido</div>
        } 
    }

    <br />

    <label for="apellido">Apellido</label><br />
    <input
      type="text"
      id="apellido"
      name="apellido"
      value=""
      formControlName="apellido"
    />

    @if(registerForm.get('apellido')?.errors && registerForm.get('apellido')?.dirty) { 
        @if (registerForm.get('apellido')?.hasError('required')) {
            <div class="error">Requerido</div>
        } 
    }

    <br />

    <label for="telefono">Telefono</label><br />
    <input
      type="text"
      id="telefono"
      name="telefono"
      value=""
      formControlName="telefono"
    />

    <br />

    <label for="email">Correo</label><br />
    <input
      type="text"
      id="email"
      name="email"
      value=""
      formControlName="email"
    />

    @if(registerForm.get('email')?.errors && registerForm.get('email')?.dirty) { 
        @if (registerForm.get('email')?.hasError('required')) {
            <div class="error">Requerido</div>
        } 

        @if (registerForm.get('email')?.hasError('email')) {
            <div class="error">Correo incorrecto</div>
        } 
    }

    <br />

    <label for="clave">Clave</label><br />
    <input
      type="password"
      id="clave"
      name="clave"
      value=""
      formControlName="clave"
    />

    @if(registerForm.get('clave')?.errors && registerForm.get('clave')?.dirty){ 
        @if (registerForm.get('clave')?.hasError('required')) {
            <div class="error">Requerido</div>
        } 
        @if (registerForm.get('clave')?.hasError('minlength')) {
            <div class="error">Mínimo 6 caracteres</div>
        } 
        @if (registerForm.get('clave')?.hasError('maxlength')) {
            <div class="error">Máximo 10 caracteres</div>
        } 
    }

    <br />
    <br />

    <input type="submit" value="Aceptar" [disabled]="!registerForm.valid" />
  </form>
</div>
